<ul>
	<li id="combo-detail">
		<div class="left-content">
			<span class="title" style="padding-top: 20px; font-family:'OmnesMedium-Roman'">Combo</span>
			<span class="title" style="padding-top: 0; font-size: 2.1em">{{name}}</span>
		</div>

		<div class="content">
			<strong>{{days_left}}</strong>
			<div id="combo-info">
				<p>Vence</p>
				<p style="font-size: 1.3em;">DIAS</p>
				<p><small id="expiration" style="font-size: 0.7em;">{{expiration_date}}</small></p>

			</div>
		</div>
	</li>
</ul>
<div id="combo-content">
	[[ if (notification) {]]

	<section class="notification-box">
		<span class="alert"></span>
		<span class="text">Tu combo semanal está a punto de terminar y no tienes saldo. Haz una recarga para seguir disfrutando de tus llamadas, sms y datos.</span>

		<button>Recargar</button>
	</section>

	[[}]]

	<section class="combo-info">
		<h4>¿Cuánto te queda de tu combo? </h4>

		<nav><ul>
			<li id="combo-llamadas" class="selected"><span class="ico ico-calls"></span></li>
			<li id="combo-internet"><span class="ico ico-netOut"></span></li>
			<li id="combo-sms"> <span class="ico ico-smsOut"></span> </li>
		</ul></nav>

		<!-- barra progreso -->
		<div id="combo-llamadas-detail" class="detail">
			[[ var llamadas_prct = (llamadas.get('consumidas') / llamadas.get('total') )*100]]
			<span>Llamadas</span>
			<span class="consumidas">{{llamadas.get('consumidas')}}</span>
			<span>/</span>
			<span class="total">{{llamadas.get('total')}}'</span>
			<span class="fr"> disponibles</span>
			<span class="fr restantes">{{llamadas.get('restantes')}}</span>

			<div class="meter-wrap">
				<div class="meter-value" style="width:{{llamadas_prct}}%;"> </div>
				<span>0 min.</span>
				<span class="fr">{{llamadas.get('total')}} min.</span>
			</div>
		</div>

		<div id="combo-internet-detail" class="detail">
			[[ var internet_prct = (internet.get('consumidas') / internet.get('total') )*100]]
			<span>Internet</span>
			<span class="consumidas">{{internet.get('consumidas')}}</span>
			<span>/</span>
			<span class="total">{{internet.get('total')}}mb</span>
			<span class="fr"> disponibles</span>
			<span class="fr restantes">{{internet.get('restantes')}}</span>

			<div class="meter-wrap">
				<div class="meter-value" style="width:{{internet_prct}}%;"> </div>
				<span>0 mb.</span>
				<span class="fr">{{internet.get('total')}} mb</span>
			</div>
		</div>

		<div id="combo-sms-detail"  class="detail">
			[[ var sms_prct = (sms.get('consumidas') / sms.get('total') )*100]]
			<span>SMS</span>
			<span class="consumidas">{{sms.get('consumidas')}}</span>
			<span>/</span>
			<span class="total">{{sms.get('total')}}</span>
			<span class="fr"> disponibles</span>
			<span class="fr restantes">{{sms.get('restantes')}}</span>

			<div class="meter-wrap">
				<div class="meter-value" style="width:{{sms_prct}}%;"> </div>
				<span>0 sms</span>
				<span class="fr">{{sms.get('total')}} sms</span>
			</div>
		</div>

	</section>
</div>