
<section id="user-lines">
	<span class="btn_back"></span>
	<span class="page-title">Consumos</span>
	<span id="loading"></span>

	<span class="btn_filters"></span>
</section>

<div id="filters-consumptions">
	<div>
		<div id="container-type"> 
			<h2>Tipo</h2>
			<ul>
				<li class="relleno1-4">
					<div class="type-consumption icon_type_consumos incoming" id="cn_incoming" data-value="incoming">
					</div>
				</li>
				<li class="relleno1-4">
					<div class="type-consumption icon_type_consumos outgoing" id="cn_outgoing" data-value="outgoing">

					</div>
				</li>
				<li class="relleno1-4">
					<div class="type-consumption icon_type_consumos internet_in" id="cn_internet" data-value="DATA">

					</div>
				</li>
				<li class="relleno1-4">	
					<div class="type-consumption icon_type_consumos sms_in"  id="cn_sms" data-value="SMS">
					</div>
				</li>

			</ul>

		</div> 

		<div id="container" class="containerTarifa">
			<h2>Tarifa</h2>

			<div class="tarifa-consumption" data-value="standard">
				<span>Nacional</span>
			</div>

			<div class="tarifa-consumption" data-value="international">
				<span>Internacional</span>
			</div>
			<div class="tarifa-consumption" data-value="roaming">
				<span>Roaming</span>
			</div>
		</div>

		<div id="container" class="containerCoste">
			<h2>Coste</h2>
			<div class="tarifa-consumption" data-value="sincoste">
				<span>$0</span>
			</div>
			<div class="tarifa-consumption" data-value="costecombo">
				<span>Combo</span>
			</div>
			<div class="tarifa-consumption" data-value="costesaldo">
				<span>Saldo</span>
			</div>
		</div>

		
		<div id="container">
			<h2>Fecha</h2>
			<input type="date" name="date1" placeholder="Desde" value="Desde"/>
			<span class="icon-date"></span>
			<input type="date" name="date2" placeholder="Hasta" value="Hasta" style="float:right"/>
			<span class="icon-date right"></span>

		</div> 
		<!--
		<input name="mydatedesde" id="mydatedesde" type="date" data-role="datebox" data-options='{"mode": "flipbox"}'>
		<input name="mydatehasta" id="mydatehasta" type="date" data-role="datebox" data-options='{"mode": "flipbox"}'>-->
		
		<button id="buscar">Buscar</button>
	</div>
</div>

<div id="movimientos-content">
	<nav>
		<ul id="filtros">

			[[
				var claseMes = (section=='mes')? 'selected' : '';
				var claseSemana = (section=='semana')? 'selected' : '';
				var claseHoy = (section=='hoy')? 'selected' : ''; 
			]]
			<li id="semana" class="{{claseSemana}}">Última semana</li>
			<li id="mes" class="{{claseMes}}">Último mes</li>
			<li id="hoy" class="{{claseHoy}}">Hoy</li>
		</ul>
	</nav>
	<section id="results">
		<ul>
			[[_.each(consumptions, function(consumption)  {  
				var icon = 'incoming';
				icon=consumption.usage;
				var data1="";
				if (consumption.usage == 'internet_in' || consumption.usage == 'internet_out'){
					data1= (consumption.size/1000) +' mb'; 
				}else if (consumption.usage =='incoming' || consumption.usage=='outgoing') {
					var duracion="--"
					var segundos=consumption.duration.toString();
                    if (segundos.toUpperCase()=="NONE") segundos="--";
                    else {
                         var minutos=Math.floor(parseInt(segundos)/60);
                         var segundos=parseInt(segundos)%60;
                         duracion = minutos + '\' ' + segundos + '\"';
                    }
					data1= duracion + " - "+consumption.destination_phone;
				


				} else if (consumption.usage=="sms_in" || consumption.usage=="sms_out"){
					data1=consumption.destination_phone;
				}else {
				 data1="";
				}	
			]]
			<li>
				<span class="ico {{icon}}" style="margin: 5px 0 0 0;"></span>
				<div>
					<p class="mov-title">{{data1}}</p>
					<p><small>{{consumption.date}}</small></p>
				</div>
		
				
				<span class="value">${{consumption.cost}}</span>
				
				
			</li>
			[[});]]

		</ul>
		
		[[if(consumptions.length == 0) {]]
		<div class="empty-results">
			
		</div>
		[[}]]
	</section>	
	<section id="layer"></section>
</div>