<section id="user-lines">
	<!--<span class="btn_back" data-rel="back"></span>-->
	<span class="btn_back"></span>

	<span class="page-title">Consumos</span>
	<span id="loading"></span>
</section>

<div id="consumosresumen-content">
	<nav>
		<ul id="filtros">
			<li id="semana" class="selected">Última semana</li>			
			<li id="mes">Último mes</li>
			<li id="hoy">Hoy</li>
		</ul>
	</nav>
	<section id="results-today">
		<div class="llamadas_salientes">
			<span class="dato-duracion">{{today.get("llamadassalientes")}}</span>
			<span class="tipo">Llamadas Salientes</span>
		</div>
		<div class="llamadas_entrantes">
			<span class="dato-duracion">{{today.get('llamadasentrantes')}}</span>
			<span class="tipo">Llamadas Entrantes</span>
		</div>
		<div class="datos">
			<span class="dato-duracion">{{today.get('internet')}} mb</span>
			<span class="tipo">Navegación en Internet</span>
		</div>
		<div class="sms">
			<span class="dato-duracion">{{today.get('sms')}} sms</span>
			<span class="tipo">Mensajes de Texto</span>
		</div>	
	
		<div id="verTodos-today" class="vertodos">Ver todos</div>
	</section>	
	<section id="results-lastweek">
		<div class="llamadas_salientes">
			<span class="dato-duracion">{{lastweek.get("llamadassalientes")}}</span>
			<span class="tipo">Llamadas Salientes</span>
		</div>
		<div class="llamadas_entrantes">
			<span class="dato-duracion">{{lastweek.get('llamadasentrantes')}}</span>
			<span class="tipo">Llamadas Entrantes</span>
		</div>
		<div class="datos">
			<span class="dato-duracion">{{lastweek.get('internet')}} mb</span>
			<span class="tipo">Navegación en Internet</span>
		</div>
		<div class="sms">
			<span class="dato-duracion">{{lastweek.get('sms')}} sms</span>
			<span class="tipo">Mensajes de Texto</span>
		</div>	
	
		<div id="verTodos-lastweek" class="vertodos">Ver todos</div>
	</section>
	<section id="results-lastmonth">
		<div class="llamadas_salientes">
			<span class="dato-duracion">{{lastmonth.get("llamadassalientes")}}</span>
			<span class="tipo">Llamadas Salientes</span>
		</div>
		<div class="llamadas_entrantes">
			<span class="dato-duracion">{{lastmonth.get('llamadasentrantes')}}</span>
			<span class="tipo">Llamadas Entrantes</span>
		</div>
		<div class="datos">
			<span class="dato-duracion">{{lastmonth.get('internet')}} mb</span>
			<span class="tipo">Navegación en Internet</span>
		</div>
		<div class="sms">
			<span class="dato-duracion">{{lastmonth.get('sms')}} sms</span>
			<span class="tipo">Mensajes de Texto</span>
		</div>	
	
		<div id="verTodos-lastmonth" class="vertodos">Ver todos</div>
	</section>
</div>