
<section id="notification">
	<div id="message">El email introducido no corresponde con ningún usuario. Por favor, comprueba que está bien escrito. </div>
	<span id="corner"></span>
</section>

<form  id="forgot-password-form" action="#password">
	<h2>Qué cabeza! </h2>

	<p id="explication">No te preocupes, suele pasar...introduce tu email y te enviaremos los pasos para recuperar tu contraseña. <p>
	<p> 
		<input type="email" placeholder="* Email" />
		<span class="errors empty-error">Introduce un email</span>
		<span class="errors format-error">Introduce un email valido</span>
	</p>
	<button type="submit">Enviar contraseña <span id="loading" class="pink"></span></button>
	<button class="cancel">Cancelar</button>
</form>

<button id="register">Si no tienes cuenta, create una.</button>

