
<section id="user-lines">
	<span class="btn_back"></span>

	<span id="loading"></span>

	<ul>
		[[ _.each(lines, function(line)  {  

			if(line.id==selectedLine.id){
		]]
	      <li class="selected">{{ line.id }}</li>

	  	[[ } else {]]

			<li>{{ line.id }}</li>
	    [[ }}); ]]
	</ul>

</section>
<section id="menu">

	<ul>
		<li id="saldo">
			<div class="left-content">
				<span class="title">Saldo</span>
				<small class="gray">Vence el</small>
				<span  class="gray">{{selectedLine.expiration_date}}</span>
			</div>

			<div class="content">
				$<strong>{{selectedLine.balance}}</strong>
			</div>
		</li>

		<li id="movimientos">
			<span class="title">Movimientos de saldo</span>
			<span class="circle"></span>
			<span class="arrow"></span>			
		</li>


		<li id="combo-detail">
			[[
				console.log(selectedLine.combo);
				var styleContent = (selectedLine.combo.get('empty')) ? 'none' : 'block'; 
				var styleEmpty = (selectedLine.combo.get('empty')) ? 'block' : 'none'; 

			]]
			<div class="left-content" style="display: {{styleContent}}">
				<span class="title" style="padding-top: 20px;">Combo</span>
				<span class="title" style="padding-top: 0; font-size: 2.1em" id="name">{{selectedLine.combo.get('name')}}</span>
				
			</div>

			<div class="content" style="display: {{styleContent}}">

				<strong id="days-left">{{selectedLine.combo.get('days_left')}}</strong>
				<div id="combo-info">
					<p>Vence</p>
					<p style="font-size: 1.3em;">DIAS</p>
					<p><small id="expiration" style="font-size: 0.7em;">{{selectedLine.combo.get('expiration_date')}}</small></p>
				</div>

				<span class="circle"></span>
				<span class="arrow"></span>	
			</div>
			
			<div id="empty" style="padding-top: 17px; display: {{styleEmpty}}">
				<strong>No tienes ningún combo activo :(</strong>
				<br/>
				<small>Haz una recarga para disfrutar de las mejores tarifas</small>
			</div>
			
		</li>

		<span id="loading-combo" class="pink"></span>

		<li id="consumos">
			<span class="title">Consumos</span>	
			<span class="circle"></span>
			<span class="arrow"></span>					
		</li>
		<li id="recargar">
			<span class="title">Recargar</span>		
			<span class="circle"></span>
			<span class="arrow"></span>				
		</li>
	</ul>
</section>
