
<section id="notification">
	<div id="message">Te hemos enviado un email a tu bandeja de entrada. Comprueba la carpeta de spam
	</div>

	<span id="corner"></span>
</section>

<form  id="login-form" action="#login">
	<h2>Identifícate con tu cuenta QUAM </h2>

	<div class="socials">
		<div class="facebook"> Facebook</div>
		<div class="twitter">Twitter</div>
		<div class="google">Google</div>
	</div>
	<p> 
		<input type="email" placeholder="* Email" />
		<span class="errors empty-error">Introduce un email</span>
		<span class="errors format-error">Introduce un email valido</span>
	</p>
	<p> 
		<input type="password" placeholder="* Password" />		
		<span class="errors empty-error">Introduce una contraseña</span>
		<span class="errors format-error">Introduce una contraseña válida</span>
	</p>

	<button type="submit">Entrar <span id="loading" class="pink"></span></button>
</form>

<button id="forget-password">¿Has olvidado la contraseña?</button>
<button id="register">Si no tienes cuenta, create una.</button>

