
<section id="user-lines">
	<!--<span class="btn_back" data-rel="back"></span>-->
	<span class="btn_back"></span>

	<span class="page-title">Movimientos de saldo</span>
	<span id="loading"></span>
</section>

<div id="movimientos-content">
	<nav>
		<ul id="filtros">
			<li id="todos" class="selected">Todos</li>
			<li id="recargas">Recargas</li>
			<li id="gastos">Gastos</li>
		</ul>
	</nav>
	<section id="results_todos">
		<ul>
			[[ _.each(payments, function(payment)  {  

				var icon = 'ico-saldo-bill'; 
				if(payment.type=='purchase'){
					icon= 'ico-saldo-pack';
				}else if(payment.type=='recharge' && payment.subtype=='voucher'){
					icon= 'ico-saldo-card';
				}
			]]
			<li>
				<span class="ico {{icon}}" style="margin: 5px 10px 0 0;"></span>
				<div>
					<p class="mov-title">{{payment.name}}</p>
					<p><small>{{payment.date}}</small></p>
				</div>

				[[ if (payment.value.length>0 && payment.value.indexOf('-')!=-1) { ]]
				<span class="value negative ">-${{payment.value.substring(1)}}</span>
					
				[[ } else{ ]]
				<span class="value">${{payment.value}}</span>
				[[ } ]]
				
			</li>
			[[});]]

		</ul>
		<div class="pagination"><button class="more">Más</button></div>

		[[if(payments.length == 0) {]]
		<div class="empty-results">
			
		</div>
		[[}]]

	</section>
	<section id="results_recargas">
		<ul></ul>
		<div class="pagination"><button class="more">Más</button></div>
		<div class="empty-results" style="display:none"></div>
	</section>
	<section id="results_gastos">
		<ul></ul>
		<div class="pagination"><button class="more">Más</button></div>
		<div class="empty-results" style="display:none"></div>
	</section>

	
</div>