[[
	var icon = 'ico-saldo-bill'; 
	if(type=='purchase'){
		icon= 'ico-saldo-pack';
	}else if(type=='recharge' && subtype=='voucher'){
		icon= 'ico-saldo-card';
	}
]]
<li>
	<span class="ico {{icon}}" style="margin: 5px 10px 0 0;"></span>
	<div>
		<p class="mov-title">{{name}}</p>
		<p><small>{{date}}</small></p>
	</div>

	[[ 
	var newValue = value + '';   
	if (newValue.indexOf('-')!=-1) { 
	]]
	<span class="value negative ">-${{newValue.substring(1)}}</span>
		
	[[ } else{ ]]
	<span class="value">${{value}}</span>
	[[ } ]]
	
</li>
