/* web fonts */
@font-face {
  font-family: 'VarelaRound-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/VarelaRound-Regular.eot');
  src: url('../fonts/VarelaRound-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/VarelaRound-Regular.woff') format('woff'),
       url('../fonts/VarelaRound-Regular.ttf') format('truetype'),
       url('../fonts/VarelaRound-Regular.svg#VarelaRound-Regular') format('svg');
}

@font-face {
  font-family: 'OmnesSemibold-Roman'; src: url('../fonts/OmnesSemibold-Roman.otf');font-style: normal; font-weight: normal; 
}
@font-face {
  font-family: 'OmnesLight-Roman'; src: url('../fonts/OmnesLight-Roman.otf');font-style: normal; font-weight: normal; 
}
@font-face {
  font-family: 'OmnesRegular-Roman'; src: url('../fonts/OmnesRegular-Roman.otf');font-style: normal; font-weight: normal; 
}
@font-face {
  font-family: 'OmnesMedium-Roman'; src: url('../fonts/OmnesMedium-Roman.otf');font-style: normal; font-weight: normal; 
}

.scrollable {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

body{
	 font-family:'VarelaRound-Regular', arial, helvetica, sans-serif !important;
     margin: 0;
}

.ui-loader{display: none !important}

.main-wrapper > div{width: 100%; height: auto;}
.main-wrapper.bg1 > div{background: url('../img/backgrounds/f1.jpg') repeat scroll center !important;background-size: 100% !important;background-position: fixed}
.main-wrapper.bg2 > div{background: url('../img/backgrounds/f2.jpg') repeat scroll center !important;background-size: 100% !important;background-position: fixed}
.main-wrapper.bg3 > div{background: url('../img/backgrounds/f3.jpg') repeat scroll center !important;background-size: 100% !important;background-position: fixed}
.main-wrapper.bg4 > div{background: url('../img/backgrounds/f4.jpg') repeat scroll center !important;background-size: 100% !important;background-position: fixed}

h1{font-size: 1.6em}
h2{font-size: 1.4em}
h3{font-size: 1.2em}

input{
    border: 1px solid #070307;
    border-radius: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #070307;
    font-size: 15px;
    height: 35px;
    min-width: 200px;
    padding: 0 6px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 256px;
}
input:focus{
	border: 2px solid #ff5ac7;
}
button{
	height: 45px; 
	width: 270px; 
	color: #FFF; 
	border: medium none;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: .9em;
}

button.cancel{background-color: #000000; margin-top: 15px; font-size: 1.1em}

p{margin: 0; padding: 0;}
/* mensajes de error */
form span.errors{
	width: 200px;
	position:relative;
	display: none;
	height: auto; 
	font-size: 11px;
	color: red;
	z-index: 1;padding-top: 13px;
	text-align: left; 
	margin-left: 40px;
}
form span.empty-error:before, 
form span.format-error:before,
form span.server-error:before{
	background: url("../img/sprite.png");
	background-position: -32px -192px;
	margin-left: -40px;
	position: absolute;
	margin-top: -13px;
	content: ''; 
	height: 32px; width: 32px;
}
p.empty-error span.empty-error{ display: block;}
p.format-error span.format-error{ display: block;}

input.error { background: url("../img/bg_input_ko.gif") repeat-x scroll left bottom rgba(0, 0, 0, 0);}
input.ok { background: url("../img/bg_input_ok.gif") repeat-x scroll left bottom rgba(0, 0, 0, 0);}


#notification{	
	color: #ff03b0;
	font-size: 1em;
	text-shadow: none;
	position: absolute;
	text-align: left; 
	top: -93px;
	display: none;
}
#notification div{
    background-color: #000; 
    padding: 20px; 
}
#notification #corner{
	position: relative; display: block;
	height:25px;
    width:50px;
    border-radius: 0 0 50px 50px;
    -moz-border-radius: 0 0 50px 50px;
    -webkit-border-radius: 0 0 50px 50px;
    left: 40%;
    margin-top: -8px;
    background: url("../img/arrow_up.png") no-repeat scroll 13px 1px / 25px auto #000000;
}

.ico{background-image:url(../img/sprite.png);display: block;height: 32px;width: 32px; margin: 0;float: left;}
.ico-smsOut{background-position:-158px -192px}
.ico-smsIn{background-position:-190px -192px}
.ico-netOut{background-position: -227px -327px;}
.ico-netIn{background-position:-190px -192px}
.ico-calls{background-position: -129px -160px;}
.ico-saldo-card{background-position:0 -256px}
.ico-saldo-bill{background-position:0 -288px}
.ico-saldo-pack{background-position:0 -320px}

.fr{float: right;}

/******************************** Loading ************************* */
#loading, #loading-combo{
    position: absolute; 
    height: 20px; width: 20px; 
    background: url('../img/spinner/Qspinner-Head.gif');
    background-size: 20px;
    margin: 0 10px;
    display: none;
}
#loading.pink, #loading-combo.pink{background: url('../img/spinner/Qspinner-Pink.gif');background-size: 20px;}
#loading.show{display: inline-block;}

#loading-combo{float: left;
    left: 40%;
    margin-top: -55px;
    position: absolute;}
#loading-combo.show{display: block;margin-left: 40%; margin-top: -55px;}

#home-page #loading { margin-top: 12px;}
#movimientos-page #loading{ margin-top: -23px; position: absolute; right: 25px;}
#consumossummary-page #loading, 
#consumos-page #loading{ margin-top: -23px; position: absolute; right: 50px;}

/******************************** SPLASH ************************* */
#splash_logo{
    min-height: 320px;
}
.main-wrapper.bg1 #splash_logo{background: url('../img/backgrounds/QMov_splash_1.png') no-repeat center center; background-size:70% }
.main-wrapper.bg2 #splash_logo, 
.main-wrapper.bg4 #splash_logo{background: url('../img/backgrounds/QMov_splash_2_4.png') no-repeat center center; background-size:70%;}
.main-wrapper.bg3 #splash_logo{background: url('../img/backgrounds/QMov_splash_3.png') no-repeat center center; background-size:70%;}
/******************************** LOGIN ************************* */
#login-page, #forgot-password-page{text-align: center; font-family: 'OmnesRegular-Roman'; text-shadow:none;}
form{ 
	margin: 30px auto 15px; width: 87%; 
	background-color: #FFF; 
	padding: 10px;
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.6);
}
form h2{padding: 0 10px; margin: 1em auto; font-family: 'OmnesSemibold-Roman';max-width: 250px;}
form div.socials{height: 85px; width: 270px; display: inline-block; margin-bottom: 20px;}
form div.socials > div{float: left; height: 90px; width: 90px; color: #FFF;padding-top: 5px;font-family: 'OmnesSemibold-Roman';}
form div.socials > div:before{
	background: url("../img/sprite.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    height: 50px;
    margin-top: 30px;margin-left: 20px;
    position: absolute;
    width: 35px;
}
form#login-form p{margin-bottom: 10px !important}
form div.socials > div.facebook{background-color: #3B5998;}
form div.socials > div.facebook:before{background-position: -128px -368px !important; margin-left: 32px;}
form div.socials > div.twitter{background-color: #00AEEF;}
form div.socials > div.twitter:before{background-position: -54px -368px  !important; width: 60px;}
form div.socials > div.google{background-color: #fc4731;}
form div.socials > div.google:before{background: url("../img/google_icon.png") no-repeat; background-size: 50px; width: 50px;}

form div.socials > div.selected:before{
   /*background-color: #000000;
    box-shadow: 0 5px 6px #000000;
    margin-top: -2px;
    opacity: 0.3;
    */
    background: url("../img/spinner/login_preloader.gif") no-repeat;
    opacity:0.5;
    
}

form p{ margin: 0 auto !important; margin-bottom: 20px !important; width: 270px;}
form input, form button{ font-family: 'OmnesRegular-Roman' !important;}
form button[type=submit] {background-color: #ff03b0; font-size: 1.1em}

button#forget-password,
button#register {
	background: rgb(0, 0, 0);
	/* RGBa with 0.6 opacity */
	background: rgba(0, 0, 0, 0.2);
	margin: 5px 0 10px;
}

/******************* Forgot password **************************/
p#explication{text-align: left; font-size: 0.9em}



/*******************        header comun          ***********/
section#user-lines{background-color: #1c1c1c; color: #FFF; height: 50px; text-align: right;opacity: 0.8; font-family: 'OmnesSemibold-Roman'}
section ul {padding: 0; margin: 0;}
section#user-lines ul {float: right; width: 85%; height: 30px; padding-top: 12px; overflow-x: scroll; overflow-y: hidden; white-space: nowrap ; position: relative; text-align:center;}
section#user-lines ul li{list-style-type: none; display: inline-block; padding: 0 10px;font-size: 20px;}
section#user-lines ul li.selected{color:#ff08ab; font-weight: bold}
section#user-lines span.page-title{ text-align: center; display:block; color: #ff08ab; margin: 0 auto; padding-top: 15px; width: 68%; font-size: 1.2em;}

/******************* Home / Mi cuenta *************************/
#home-page, #movimientos-page, #consumos-page, #consumossummary-page {	text-shadow: none;}

#home-page section#menu ul li{height: 92px; list-style-type: none; color: #FFF;padding:0 20px; opacity: 0.8}
#home-page section#menu ul li div.left-content{ width: 50%; float: left; }
#home-page section#menu ul li span.title{ font-family: 'OmnesLight-Roman'; font-size: 1.7em; padding-top: 30px; display: block; float: left;width: 80%;}
#home-page section#menu ul li div.content{float: right; text-align: left; font-size: 2.3em; padding-top: 25px; text-align: right;}
#home-page section#menu ul li#saldo div.left-content{width: 60%}
#home-page section#menu ul li#saldo span.title{float: none;}
#home-page section#menu ul li#saldo{background-color: #000; opacity: 0.9}
#home-page section#menu ul li#saldo .gray{color:#b9b9b9; font-family: 'OmnesRegular-Roman'}

#home-page section#menu ul li#movimientos{background-color: #1c1c1c;}
#home-page section#menu ul li#movimientos span.title{font-size: 1.5em}
#home-page section#menu ul li#combo-detail{background-color: #fa0aae; opacity: 0.8}
#home-page section#menu ul li#combo-detail .left-content{width: 40%;}
#home-page section#menu ul li#combo-detail span.circle{margin-top: 7px;}
#home-page section#menu ul li#combo-detail span.arrow{margin-top: 15px;}
#home-page section#menu ul li#combo-detail strong{float: left;}
#home-page section#menu ul li#combo-detail #combo-info{
	float: left; width: 60px;font-size: 16px;
	text-align: left;margin-top: -10px; padding-left: 5px;
    font-family: 'OmnesRegular-Roman';
}
#home-page section#menu ul li#consumos{background-color: #6945fd;}
#home-page section#menu ul li#recargar{background-color: #21e8f2;}
#home-page section#menu ul li strong{font-family: 'OmnesSemibold-Roman'; font-size: 1.1em}

span.circle {
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    float: right;
    height: 30px;
    position: relative;
    width: 30px;
    margin-top: 26px;
    margin-left: 10px;
}
span.arrow {
    background: url("../img/small_white_arrow.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: right;
    height: 30px;
    right: 10px;
    margin-top: 35px;
    position: absolute;
    width: 30px;
}

.btn_back{
    background: url('../img/btn_back.png') no-repeat;
    background-size: 30px;
    height: 30px; width: 30px;
    display: block; float: left; 
    margin-left: 10px;
    margin-top: 9px;
}


/********************      COMBO DETAIL     *****************************/
#combo-content{padding: 10px; background-color: #FFF; min-height: 340px;}
.notification-box{font-size: 15px; }
.notification-box span.alert{
    background: #ff08ab url('../img/exclamacion.png') center no-repeat;
    background-size: 8px;
    display: block; float: left; height: 75px; width: 45px;margin-right: 10px;
}

.notification-box button{ width: 100%; padding: 20px 0; height: auto; color: #FFF;  background-color: #ff08ab; margin: 15px 0; font-weight: bold;}

#combo-content .combo-info h4{text-align: center; margin-top: 0;font-family: OmnesRegular-Roman;font-size: 1.1em;}
#combo-content .combo-info nav{display: inline-block; width: 100%}
#combo-content .combo-info ul{margin: 0; list-style-type: none}
#combo-content .combo-info ul li{float: left; background-color: #ebebeb; width: 33%; height: 53px !important; padding:0 !important; position: relative;}
#combo-content .combo-info ul li span.ico{margin: 10px auto; float: none;}
#combo-content .combo-info ul li.selected{background-color: #6945fd}
#combo-content .combo-info ul li.selected > span.ico-smsOut{background-position:-190px -192px}
#combo-content .combo-info ul li.selected > span.ico-netOut{background-position:-193px -127px}
#combo-content .combo-info ul li.selected > span.ico-calls{background-position:-224px -376px}
#combo-content .combo-info ul li.selected:before{
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;    
    border-top: 10px solid #6945fd;
    content: ''; 
    position: absolute; 
    margin-top: 50px; 
    margin-left: 40%;
}

#combo-content .combo-info .detail{padding-top: 15px;font-family:'OmnesLight-Roman';} 
#combo-sms-detail, #combo-internet-detail{display: none;}

#combo-content .combo-info .detail span.consumidas,
#combo-content .combo-info .detail span.restantes{color: #985bfe;}
#combo-content .combo-info .detail span.restantes{margin-right: 5px;}
#combo-content .combo-info .detail span.total{font-size: 13px}

.meter-wrap, .meter-value{height:30px;margin-bottom: 35px; padding: 0}
.meter-value{margin-bottom: 5px;}
.meter-value {
    background: #ff08ab; /* Old browsers */
    background: -moz-linear-gradient(left, #ff08ab 0%, #d619c2 34%, #7c3df2 71%, #6945fd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff08ab), color-stop(34%,#d619c2), color-stop(71%,#7c3df2), color-stop(100%,#6945fd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #ff08ab 0%,#d619c2 34%,#7c3df2 71%,#6945fd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #ff08ab 0%,#d619c2 34%,#7c3df2 71%,#6945fd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #ff08ab 0%,#d619c2 34%,#7c3df2 71%,#6945fd 100%); /* IE10+ */
    background: linear-gradient(to right, #ff08ab 0%,#d619c2 34%,#7c3df2 71%,#6945fd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff08ab', endColorstr='#6945fd',GradientType=1 ); /* IE6-9 */

}
.meter-wrap{background-color:#f2f2f2; border: 1px solid #e2e2e2 !important; margin-top: 20px;}
.meter-wrap span{color: #999999; font-size: 0.85em;}

/***************** Movimientos de Saldo **************/
#movimientos-content nav{width: 100%; height: 38px; font-size: 15px;}
#movimientos-content ul{list-style-type: none; margin: 0; padding: 0; background-color: #FFF; font-family: OmnesRegular-Roman;
    font-size: 1.1em;}
#movimientos-content nav ul li{background-color: #FFF; float: left; width: 33.3%; color: #6945fd; padding: 11px 0; text-align: center; border-bottom: 3px solid #6945fd; cursor: pointer; }
#movimientos-content nav ul li.selected{background-color: #6945fd; color: #FFF;}

#movimientos-content section ul li{background-color: #FFF;  padding: 13px 0px; margin: 0 10px; height: 45px; border-bottom: 1px solid #E6E6E6}
#movimientos-content section ul li div {width: 60%; float: left;}
#movimientos-content section ul li div p.mov-title{font-size: 17px;}
#movimientos-content section ul li div small{color: #a8a8a8;}
#movimientos-content section ul li span.value{float: right; font-size: 20px;color:#6945fd;}
#movimientos-content section ul li span.value.negative{color: #a8a8a8;}
#movimientos-content section#results_recargas,
#movimientos-content section#results_gastos{display: none;}
#movimientos-content .pagination{padding: 10px 0; text-align: center; display: none; background:#FFF;}
#movimientos-content button.more{ background-color: #ff08ab; }

.empty-results{    
    height: 320px; width: 100%;
    background-color: #FFF; 
}
.empty-results:after{
    content: 'No se encontraron resultados'; 
    position: relative;
    display: block;
    text-align: center;
    top: 45%;
    color: #A8A8A8;
}

/***************** Consumos  resumen**************/
#consumosresumen-content{display: inline-block;background: #FFF;font-family: 'OmnesRegular-Roman'; }
#consumosresumen-content nav{width:100%;height:38px;font-size:15px;}
#consumosresumen-content ul{list-style-type: none; margin: 0; padding: 0;
    font-size: 1em;}
#consumosresumen-content nav ul li{background-color: #FFF; float: left; width: 33.3%; color: #6945fd; padding: 11px 0; text-align: center; border-bottom: 3px solid #6945fd; cursor: pointer; }
#consumosresumen-content nav ul li.selected{background-color: #6945fd; color: #FFF;}

#consumosresumen-content section div {border-top:0.5em solid #FFF;border-left:0.5em solid #FFF; display:inline-block;float:left;text-align:center;padding-top:60px;}
#consumosresumen-content section div.llamadas_salientes {background:url('../img/ico-outgoing_calls.png') no-repeat scroll center 10px #ebebeb; min-height:80px; min-width:140px; width:46%;}
#consumosresumen-content section div.llamadas_entrantes {background:url('../img/ico-incoming-calls.png') no-repeat scroll center 10px #ebebeb;min-height:80px; min-width:140px;width:46%;border-right:0.5em solid #FFF;}
#consumosresumen-content section div.datos {background:url('../img/ico-internet.png') no-repeat scroll center 10px #ebebeb;min-height:80px;min-width:140px;width:46%;border-bottom:0.5em solid #FFF;}
#consumosresumen-content section div.sms {background:url('../img/ico-sms.png') no-repeat scroll center 10px #ebebeb;min-height:80px;min-width:140px;width:46%;border-right:0.5em solid #FFF;border-bottom:0.5em solid #FFF;}
#consumosresumen-content section div span.dato-duracion {color:#6945fd;width:100%; text-align:center;display:block;font-size:21px; font-family: 'OmnesMedium-Roman'}
#consumosresumen-content section div span.tipo {color:#000;margin:0 auto;width:60%;text-align:center;display:block;}
#consumosresumen-content section#results-today {display:none;}
#consumosresumen-content section#results-lastweek {display:block;}
#consumosresumen-content section#results-lastmonth {display:none;}

#consumosresumen-content section div.vertodos{width:94%!important; background-color:#ff08ab;color:#FFF;min-height:35px;border-right:0.5em solid #FFF;border-bottom:2em solid #FFF;text-align:center;font-size:1.1em;padding-top:15px;}

.icon_type {background-image:url('../img/sprite.png');display: block;height: 32px;width: 32px; margin: 15px;float: left;}
.icon_type_consumos {background-image:url('../img/sprite-consumos.png');display: block; margin: 15px;float: left;background-size: 430px auto;}
/*.sms_out{background:url('../img/ico-sms.png') no-repeat scroll center; background-size: 20px;}*/
.sms_in{background-position:-190px -192px}
.outgoing{background-position:-70px -12px;}
.incoming{background-position:-12px -12px;}
.internet_in{background-position:-123px -12px;}
.internet_out{background-position:-128px -224px;}
.sms_in{background-position:-182px -11px;height:38px}
.sms_out{background-position:-96px -224px;height:38px}
.adjustment{background-position: -127px -464px;height:38px;}

/*iconos para el resultado de consumos */
.ico.outgoing{background:url('../img/ico-outgoing_calls.png') no-repeat scroll center ; background-size: 20px;}
.ico.incoming{background:url('../img/ico-incoming-calls.png') no-repeat scroll center; background-size: 20px;}
.ico.internet_in{background:url('../img/ico-internet.png') no-repeat scroll center; background-size: 20px; }
.ico.sms_out{background:url('../img/ico-sms.png') no-repeat scroll center; background-size: 20px;}


#filters-consumptions {
    background-color:#FFF; position: absolute;overflow: hidden; 
    border-top: 4px solid #ff08ab; width: 100%;
    transition: all ease 2s;
    height: 0;
    z-index: 2;
}

#filters-consumptions > div {width: 95%; margin: 0 auto 15px; }
#filters-consumptions h2{margin: 5px 0; font-family: 'OmnesMedium-Roman'; font-size: 1.1em}
#container-type{
    width:100%;
    display:inline-block;    
}
#filters-consumptions button#buscar{font-size:1em;width: 100%; background: #ff08ab; color: #FFF; margin: 10px 0; font-family: 'VarelaRound-Regular' !important}

.btn_filters{
    background: url('../img/sprite.png') no-repeat;
    display: block;
    height: 40px;
    width: 30px; 
    margin: 0px;
    background-position: -220px -437px;
    margin: 8px 4px 0 0;
    cursor: pointer;
    position: absolute;
    right: 0; 
    margin-top: -30px;
}
.btn_filters.selected{ 
    background: url('../img/sprite-consumos.png') no-repeat;
    background-position: -12px -77px;
    background-size: 430px auto;
    margin: 12px 0 0;
    width: 43px;
    position: absolute;margin-top:-26px;
}

div#container-type ul{text-align: center; width: 100%; margin:0; padding: 0; }

div#container-type li.relleno1-4{
    width:63px;
    margin-left:5px;
    height:70px;
    background-color:#EEE;
    display:inline-block;
}
div#container-type li.relleno1-4:first-child{margin-left: 0}
div#container-type li.relleno1-4.selected{border: 2px solid #ff08ab;}
div#container {display: inline-block; width: 100%;}
#filters-consumptions div.type-consumption{
    width:30px;
    margin-left:20px;
    margin-right:20px;
    height:40px;
    background-color:#EEE;
    padding-top:10px;
}
#filters-consumptions div.tarifa-consumption{
    width:30%;text-align: center; font-size: 0.9em;
    margin-left:2%;
    background-color:#EEE;
    height:25px;
    display:inline-block;
    float:left;
    padding-top:10px;
    font-family: 'OmnesLight-Roman';
}
#filters-consumptions div.tarifa-consumption.selected{border: 2px solid #ff08ab;}
#filters-consumptions input[type=date]{min-width: 0; width: 135px; border:1px solid #CCC;}
#filters-consumptions span.icon-date{
    background: url('../img/consumos-fecha-icon.png') no-repeat; 
    background-size: 35px;
    position: absolute;
    width: 30px; height: 30px;
    display: block; float: left;
    margin-left: 105px;
    margin-top: -32px;
}
#filters-consumptions span.icon-date.right{
    right: 20px;
}

#layer{min-height: 320px; width: 100%; background: #000; opacity: 0.7; display: none; position: absolute; top: 50px;}
#layer.show{display: block}
